<html>
<body>

This is spring 4.0 with boot

<br/>

Student Form  <br/>

<form action="./sample2" method="get">
    Student Name: <input type="text" name="studentName" size="10"/>
    Studnet Roll: <input type="text" name="studentRoll" size="10"/> <br/>
    <input type="submit"/>
</form>

<br/> <br/>

<!--<form action="./sample3" method="post">
    Student Name: <input type="text" name="postStudentName" size="10"/>
    Studnet Roll: <input type="text" name="postStudentRoll" size="10"/> <br/>
    <input type="submit"/>
</form>-->

</body>
</html>